{% extends 'base_admin.html' %}

{% block header_admin %}
<title>Admin Dispositivos</title>
{% endblock %}

{% block content %}

<div class="text-center bg-transparent">
    <div class="jumbotron">
        <h1 class="text-center text-light">Cadastro de novo SmartSchedule</h1>
    </div>
</div>

<div class="box">

    {{ device_table }}

    <h1 class="text-center text-dark"><b>Cadastrar novo Dispositivo</b></h1>

    <form action="{{ url_for('admin.add_device')}}" method="post">
        {{ device_form.csrf_token }}
        {{ device_form.device_name(placeholder="Nome do Dispositivo") }}
        {{ device_form.macAddress(placeholder="MAC Address", maxlenght="17") }}
        <button name="add_device" type="submit">Adicionar</button>
    </form>

</div>
{% endblock %}


