{% extends 'base_admin.html' %}

{% block header_admin %}
<title>Admin Editor de Horários</title>

<link rel="stylesheet" type="text/css" href={{url_for('static', filename='styles/materialDateTimePicker.css' )}}>

<script type="text/javascript" src="//momentjs.com/downloads/moment-with-locales.min.js"></script>
<script type=text/javascript src={{url_for('static', filename='javascript/materialDateTimePicker.js' )}}></script>
<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="text-center bg-transparent">
    <div class="jumbotron">
        <h1 class="text-center text-light">Editor de Horários</h1>
    </div>
</div>

<div class="box">
    <form id="search-form" action={{url_for('admin.add_schedule')}} method="post" autocomplete="off">
        {{ schedule_form.csrf_token }}
        <div class="autocomplete">
            {{ schedule_form.name(placeholder="Nome", oninput="autoComplete(this)") }}
        </div>
        {{ schedule_form.date(type="date",class="form_control floating_label") }}
        {{ schedule_form.time_in(type="time",class="form_control floating_label")}}
        {{ schedule_form.time_out(type="time",class="form_control floating_label") }}
        <button type="submit">Adicionar Ponto</button>
    </form>
</div>
{% endblock %}


