{% extends 'base_admin.html' %}

{% block header_admin %}
<title>Admin Usuários</title>

{% endblock %}

{% block content %}

<div class="text-center bg-transparent">
    <div class="jumbotron">
        <h1 class="text-center text-light">Painel Administrativo</h1>
    </div>
</div>


<div class="box">
    <h2 class="text-center text-dark"><b>Cadastro de novo Usuário</b></h2>

    <form id="add_user_form" action="{{url_for('admin.addUser')}}" method="post">
        {{ user_form.csrf_token }}
        {{ user_form.name(placeholder="Nome") }}
        {{ user_form.email(placeholder="Email") }}
        {{ user_form.bond }}
        {{ user_form.card(placeholder="Numero do Cartão") }}
        <button name="add_device" onclick="AddUser()">Adicionar</button>
    </form>


    {% with errors = get_flashed_messages(category_filter=["user_error"]) %}
    {% if errors %}
    {% for error in errors %}
    <p class="message">{{error}} </p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <h2><b class="title">Ultimos cartões batidos</b></h2>
    {%for elem in last_cards%}
    <label>{{elem}}</label>
    {% endfor %}
    <h2 class="text-center text-dark"><b>Tabela de Usuarios cadastrados</b></h2>

    {{ user_table }}
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <label id="dialog_message"></label>
    </div>

</div>
{% endblock %}