{% extends 'base.html' %}

{% block header %}

<script type=text/javascript src="{{url_for('static', filename='javascript/admin.js') }}"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/admin.css') }}">

{% block header_admin %}{% endblock %}

{% endblock %}


{% block sidenav %}
<li>
    <a href={{url_for('admin.users_edit_page')}}>Edição de Usuários</a>
</li>
<li>
    <a href={{url_for('admin.devices_page')}}>Edicão de Equipamentos</a>
</li>
<li>
    <a href={{url_for('admin.schedules_page')}}>Edição de Horários</a>
</li>


{% endblock %}