{% extends 'base.html' %}

{% block sidenav %}
    <li>
        <a href="http://200.17.218.227:5002/" target="_blank">Site Ciência para Todos</a>
    </li>
    <li>
        <a href="http://200.17.218.227:5000/climoscopio" target="_blank">Climoscopio</a>
    </li>

{% endblock %}