<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://richardjohnn.github.io/plax-ify/plax.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/bootstrap-checkbox.js') }}" defer></script>

    {% if self.sidenav() %}
    <script type=text/javascript src="{{url_for('static', filename='javascript/sidenav.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/sidenav.css') }}">
    {% endif %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/defaultStyle.css') }}">

    {% block header %}{% endblock %}

</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark header-top">

    <ul class="navbar-nav">
        {% if self.sidenav() %}
        <li id="sidenav_opener" class="nav-item">
            <a class="navbar-brand text-light"><i class="fa fa-bars"></i> Menu</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="navbar-brand text-light" href={{url_for('admin.users_edit_page')}}><i
                    class="fa fa-address-card-o"></i> Administradores</a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand text-light" href={{url_for('views.user_page')}}><i
                    class="fa fa-user-o"></i> Usuário</a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand text-light" href={{url_for('views.dashboard_page')}}><i
                    class="fa fa-table"></i> Dashboard</a>
        </li>

        {% block header_bar %}{% endblock %}
    </ul>
</nav>
<main>
    <section id="teste" class="parallax" data-speed="75" data-type="background"></section>

    {% block content %}{% endblock %}
</main>

<nav id="sidenav" class="sidenav">
    <ul>
        {% block sidenav %}{% endblock %}
    </ul>
</nav>
</body>
</html>