{% extends 'base_user.html' %}

{% block header %}
<title>Online Users</title>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/defaultStyle.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/dashboard.css') }}">
<script type=text/javascript src="{{url_for('static', filename='javascript/dashboard.js')}}"></script>

{% endblock %}

{% block content %}

<div class="text-center bg-transparent">
    <div class="jumbotron">
        <h1 class="text-center text-light">Usuarios Online</h1>
    </div>
</div>
<div class="content">
    <div class="box">
        <div class="text-center">
            {{onlineTable}}
        </div>
    </div>
</div>
{% endblock %}