{% extends 'base_user.html' %}

{% block header %}
<title>Login - SmartSchedule</title>
{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1 class="text-center text-light">Acesso Restrito para Administradores</h1>
    <p class="text-center sub-title">Favor fazer login com o seu cadastro</p>
</div>


<div class="content">
    <div class="box">
        <form class="login-form" id="login-form" action={{url_for('actions.login')}} method="post">
            {{ user_form.csrf_token }}
            {{ user_form.username(placeholder="Administrador") }}
            {{ user_form.password(placeholder="Senha") }}
            <button>Login</button>
        </form>
        {% with errors = get_flashed_messages(category_filter=["login_error"]) %}
        {% if errors %}
        {% for error in errors %}
        <p class="message">{{error}} </p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>

</div>

{% endblock %}