{% extends 'base_user.html' %}

{% block header %}
<title>Usuário - SmartSchedule</title>

<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/base/quartz.png') }}"/>
<script type=text/javascript src="{{
  url_for('static', filename='javascript/login.js') }}"></script>

{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="text-center text-light">Bem-vindo ao Smart Schedule</h1>
    <p class="text-center sub-title">O controle Automático de Horários do Npdeas</p>
</div>

<div class="box">
    <h1 class="text-center text-dark">Accesso para Usuarios</h1>
    <p class="text-center sub-title">Pesquise seus Pontos batidos</p>
    <form id="search-form" action="/search" method="post">
        {{ search_form.csrf_token }}
        {{ search_form.name(placeholder="Nome") }}
        {{ search_form.datein(type="date") }}
        {{ search_form.dateout(type="date") }}
        <button onclick="submitSearchForm()">Pesquisar</button>
    </form>
    <p class="message">{{search_error}} </p>

    <button onclick="searchInWeek()">Pesquisar Horas nesta Semana</button>
    <button onclick="searchInMonth()">Pesquisar Horas neste Mês</button>
    <button onclick="searchInYear()">Pesquisar Horas neste Ano</button>

    {% if user_table %}
    <div class="form">
        <p>Foram encontrados mais de um usuário com a sua pesquisa</p>
        <div class="table">
            <table class=".table-hover" id="user_table">
                {% for row in user_table%}
                <tr class='clickable-row' data-href="{{ url_for('views.admin_page') }}">
                    <td onclick="OnTableClick()">{{ row.name }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
    <div id="search-table" class="text-center">

    </div>
</div>

{% endblock %}


