
.title {
  margin: auto;
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.sub-title {
  margin: auto;
  color: black;
  font-size: 40px;
  margin: 50px;
  width: 100%;
  text-align: center;
}


.page{
    width: 1000px;
}

.box select{
  font-family: myFirstFont;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  max-width: 400px;
  border: 0;
  margin: auto 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.icon_button{
    cursor: pointer;
}

.icon_button:hover {
    transform: scale(1.1);
}

.autocomplete {
  width: 100%;
  position: relative;
  display: inline-block;
}

.autocomplete_items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete_items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.tab {
  overflow: hidden;
  align: center;
  width: 100%
}

.tabcontent {
  display: none;
  padding: 0px 0px 0 0;
  height: 100%;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 0px;
  font-size: 17px;
  width: 33.333%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  z-index: 4;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

