table{
width: 70%;
font-size: 25px;
}

.return{
    float: left;
    font-size:25px;
    cursor:pointer;
    color:white;
    transition: all .2s ease-in-out;
}

@media print {
  tr, table {page-break-inside: avoid;}

}

.return:hover,.return :active, .return:focus {
  color: #43A047;
  transform: scale(1.01);

}

