@font-face{
  font-family: myFirstFont;
  src: url(CAFETA__.TTF);
}

:root {
    --colorPrimary:#17385D;
    --colorPrimaryDark:#112842;
    --colorAccent:#FF6F00;

    --lightPrimaryColor:#40D49B;

    --black:#21201E;
    --ultraLightBlack:#8A8A8A;
    --red:#881700;
}

.page {
  width: 500px;
  padding: 80px 0 0 0;
  align: center;
  justify-content: center;
  margin: auto;
}
.sub-title {
  color: var(--colorPrimary);
}
.box {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  width:fit-content;
  margin: 0 auto 50px;
  padding: 50px;
  text-align: center;
  align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.title1{
    margin: 0 0 0;
    font-size: 30px;
    font-color: black;
}
.box input {
  font-family: myFirstFont ;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  max-width: 400px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.box button {
  font-family: myFirstFont ;
  text-transform: uppercase;
  outline: 0;
  background: #008853;
  width: 100%;
  max-width: 400px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.box button:hover,.box button:active,.box button:focus {
  background: #43A047;
}
.box .message {
  margin: 15px 0 0;
  color: red;
  font-size: 16px;
}
.box .message a {
  color: #008853;
  text-decoration: none;
}
.box .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
/*
table{
    padding 10px;
    width: 80%;
    margin: auto;
    text-align: center;
}
tr {
    font-size: 25px;
}

table.print-friendly tr td, table.print-friendly tr th {
        page-break-inside: avoid;
}
*/

@media (max-width: 700px)
{
  .table td, .table th {
    padding: 0;
    overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;

  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;

  /* Instead use this non-standard one: */
  word-break: break-word;
  }
  .box{
    padding: 0;
  }
}

.header-top{
    position: -webkit-sticky;
    position:fixed;
    position: sticky;
    top: 0;
    z-index: 1020;
}
.navbar-brand{
    cursor: pointer;
}

.jumbotron{
    background: rgba(25, 25, 25, .5);
    padding: 2rem 2rem;
    width: 100%;
    z-index: 2;
    text-align: center;
}


.parallax{
    /* The image used */
  background-image: url(/static/images/background.jpg);

  /* Set a specific height */
  position: absolute;
  height: 720px;
  width: 100%;
  z-index: -1;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  -webkit-filter: blur(2px);
  filter: blur(2px);

  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeIn {
   0% {
        opacity:0;
   }
   100% {
        opacity:1;
    }
}
main{
    transition: transform 0.3s linear;

}

main:after{
    content: '';
    display: block;
    position: absolute;
    z-index:  1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, transparent, rgba(33,33,45,.5));
    visibility: hidden;
    opacity: 0;
    transition: opacity 150ms ease-out, visibility 0s 150ms;


}
main.menu-active{
    border-radius: 0.001px;
    transform: translateX(10.5em) rotateY(15deg);

}

main.menu-active:after{
    visibility: visible;
    opacity: 1;
    transition: opacity 150ms ease-out, visibility 0s;
}

main.menu-hover{
    border-radius: 0.001px;
    transform: translateX(1em) rotateY(1deg);
}

body {
  background-color: var(--colorPrimary); /* fallback for old browsers */
  /*background-image: url(/static/images/background.jpg);*/

  background-size: cover;
  background-repeat: no-repeat;


  /*background: -webkit-linear-gradient(right, #008853, #17385D);
  background: -moz-linear-gradient(right, #008853, #17385D);
  background: -o-linear-gradient(right, #008853, #17385D);
  background: linear-gradient(to left, #008853, #17385D);*/
  font-family: myFirstFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  padding: 0px;
  perspective-origin: 0% 50%;
  perspective: 800px;

}

html,
body {
    height: 100%;
}