.sidenav {
  z-index: 100;
  position: absolute;
  top: 0px;
  left: 0;
  width: 16em;
  bottom: 0;
  bottom: 0;
  padding-top: 100px;
  background-color: #111;
  transform: translateX(-16em);
  transition: transform 0.3s linear;
}

.sidenav.menu-active {
    transform: translateX(0);
}

.sidenav.menu-hover {
    transform: translateX(-15em);
}


.sidenav h1{
    z-index: 100;
    display: block;
    position: absolute;
    top:    0;
    right: -65px;
    height: 60px;
    width: 65px;
    color: white;

}

.sidenav ul{
    margin: 0;
    padding: 0;
}

.sidenav li{
    display: inline-block;
    padding: 0 1em;
    width: 100%;
    height: 60px;
    line-height: 60px;
    transition: all 0.3s ease-in;
    text-decoration: none;
}




.sidenav li:hover{
    background: var(--colorPrimary);
    color: white;

}


.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-decoration: none;
}
.sidenav a:-webkit-any-link {
  text-decoration: none;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .title {
  margin: auto;
  color: white;
  font-size: 25px;
  width: 100%;
  text-align: center;
}

.sidenav input {
  font-family: myFirstFont ;
  outline: 0;
  background: #f2f2f2;
  width: 90%;
  border: 0;
  margin: 10px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.sidenav button {
  font-family: myFirstFont ;
  text-transform: uppercase;
  outline: 0;
  background: #008853;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.sidenav button:hover,.box button:active,.box button:focus {
  background: #43A047;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  margin-left: 50px;
}

.sidenav .message {
  margin: 15px 0 0;
  color: red;
  font-size: 16px;
}
.sidenav .message a {
  color: #008853;
  text-decoration: none;
}
.sidenav .register-form {
  display: none;
}

.openSideBar{
    float: left;
    font-size:25px;
    cursor:pointer;
    color:white;
    transition: all .2s ease-in-out;
}

.openDashboard{
    margin-right: 20px;
    align: center;
    float: right;
    font-size:25px;
    cursor:pointer;
    color:white;
    transition: all .2s ease-in-out;
}

.openSideBar:hover, .openDashboard:hover,.openSideBar:hover, .openDashboard :active,.openSideBar:hover, .openDashboard:focus {
  color: #43A047;
  transform: scale(1.01);

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}